<div class="slider">
    <div
      class="slider__track"
      [class.animated]="!isActive"
      (mousedown)="onDragStart($event)"
      (mouseup)="onDragEnd()"
      (mousemove)="onDragMove($event)"
      (mouseleave)="onDragEnd()"
      [ngStyle]="{'transform': 'translateX('+ translate + 'px' +')'}"
    >
        <app-slider-item *ngFor="let slide of slides"
        [slide]="slide"
        ></app-slider-item>
    </div>

    <button 
      class="slider__button slider__left" 
      (click)="previous()"
      [disabled]="!translate">
		<img app-arrow src="assets\images\left-arrow.png"> 
    </button>

    <button 
      class="slider__button slider__right" 
      (click)="next()" 
      [disabled]="currentSlideIndex >= 9">
		<img app-arrow src="assets\images\right-arrow.png">
    </button>
</div>
