.slider {
    &__item {
        margin-right: 0.01*90vw;
        width: 1/5*90vw;
    }

    &__text img {
        display: block;
        width: 100%;
        pointer-events: none;
        user-select: none;
		  font-size: 20px;
		  font-family:"Segoe Print";
    }

    * {
        pointer-events: none;
    }
}