.slider {
  text-align: center;
  margin: 0 5% 1%;
  overflow: hidden;

  &__track {
    display: flex;
    flex-direction: row;
    width: 13 * 18.9vw;
    align-items: center;
    transition: all 0s ease-in-out;
    margin-bottom: 1%;
  }

  &__track.animated {
    transition: all 0.5s ease-in-out;
  }

  &__button {
    background-color: rgb(186, 255, 159);
    border: 3px solid rgb(0, 0, 0);
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    margin-bottom: 10px;
    outline: none;
  }

  &__button:hover {
    border-color: white;
    transform: translateY(-5px);
  }

  &__left {
    margin-right: 2%;
  }

  &__button:disabled {
	background-color: rgb(117, 117, 117);
	border-color: transparent;
  }
}
